<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>

<body>
    {{>header}}
    {{pageBody}}
    <pre>
  Du
  Du hast
  Du hast mich

  Du
  Du hast
  Du hast mich

  Du hast mich
  Du hast mich gefragt
  Du hast mich gefragt
  Du hast mich gefragt und ich hab nichts gesagt

  Willst du bist der Tod euch scheidet
  Treu ihr sein für alle Tage?

  NEIN!

  Willst du bis zum Tod der Scheide
  Sie lieben auch in schlechten Tagen.

  NEIN!
</pre> {{>footer}}

</body>

</html>
